# Package Management
package-lock.json
node_modules/
jspm_packages/
.yarn-integrity

# Build Output
dist/
*.foxe
build/
out/
 
# IDE / Editor Files
.vscode/
.idea/

# Test / Coverage
coverage/
*.lcov
.nyc_output
.eslintcache

# Logs & Reports
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript
*.tsbuildinfo
typings/

# Env Files
.env
.env.*
!.env.example

# Miscellaneous
.DS_Store
Thumbs.db
node_repl_history
*.tgz